
$primary-color: rgb(11, 10, 98);
$secondary-color:  rgb(34, 31, 187);

$background-color: rgb(119, 119, 118);
$section-bgr-color-light: #dcdada;
$section-bgr-color-dark: #d9d7d7;


// Font
$font-color: #313131;
$primary-font: 'Nunito Sans', sans-serif; 