
$primary-color: rgb(137, 23, 42);
$secondary-color:  rgb(215, 68, 107);
$accent-color: rgb(141, 5, 5);

$background-color: rgb(119, 119, 118);
$section-bgr-color-light: #daf0ec;
$section-bgr-color-dark: #BFCDD8;

$nav-bar-color: #313131f5;

// Font
$font-color: #313131;
$primary-font: 'Nunito Sans', sans-serif; 

$textColor: rgb(222, 222, 222);
$primaryTextColor: rgb(58, 143, 223);
$primaryFontFamily: 'Roboto', sans-serif;