.pricing-outer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // background-color: aqua;
}
@media screen and (max-width: 900px) {
    .pricing-outer-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}