@import "./../style/variables.scss";

.button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $primary-color;
    width: 300px;
    height: 50px;
    border-radius: 10px;

    &:hover{
        cursor: pointer;
        background-color: $secondary-color;
        
        p {
            color: black;
            
        }
    }
}

.button p {
    color: rgb(224, 224, 224);
    margin: 0 0 5px;
    padding: 0;
    align-self: center;
    font-family: $primary-font;
    font-weight: 600;
}