@import "./../../style/variables.scss";

.button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $primary-color;
    width: 200px;
    height: 50px;
    border-radius: 10px;

    &:hover{
        cursor: pointer;
        background-color: $primary-color-on-hover;
        border: 1px solid rgb(255, 255, 255);
        width: 198px;
        height: 48px;
        
        p {
            // color: black;
        }
    }
}
.button p {
    font-size: 90%;
    color: rgb(224, 224, 224);
    // margin: 0 0 0px;
    padding: 0;
    align-self: center;
    font-family: $primary-font;
    font-weight: 800;
}

.small{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    background-color: $color5;
    border-radius: 5px;
    transition: all 0.3s;
    &:hover{
        cursor: pointer;
        background-color: $primary-color;
        border: none;
        width: 100px;
        height: 30px;
        transition: all 0.3s;
        
        p {
            color: rgb(231, 231, 231);
            transition: all 0.3s;
        }
    }
    p {
        color: rgb(67, 67, 67);
        transition: all 0.3s;
    }   
}